.wrapper {
    padding: 10px;
}

.head_body {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.dropdown {
    min-width: 150px;
    padding: 6px 12px;
    box-shadow: none;
}

.table_action {
    display: inline-flex;
    gap: 4px;
}

.table_icon {
    justify-content: center;
}
