@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #0665d0;
    --black: #000;
    --while: #fff;
    --text-color: #333;
    --sidebar-color: #607d8b;
    --bgr-primary: #f0f1f6;
    --shadow: 1px 0 20px rgba(0, 0, 0, 0.08);

    // Default layout
    --default-layout-header-height: 56px;
    --default-layout-sidebar-width: 280px;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--bgr-primary);
}

button,
[tabindex] {
    outline: none;
    border: none;
}

input {
    outline: none;
}

a[href] {
    text-decoration: none;
}

.form_button {
    text-align: right;
    margin-top: 12px;
}

.text-center {
    text-align: center;
}

.head_body {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.dropdown {
    min-width: 150px;
    padding: 6px 12px;
    box-shadow: none;
}

.table_action {
    display: inline-flex;
    gap: 4px;
}

.table_icon {
    justify-content: center;
}

// Overwrite react prime

// -- Dropdown
.p-dropdown-item {
    padding: 4px 8px;

    &:hover {
        color: var(--primary);
        box-shadow: none;
    }
}

// -- Data table
.p-datatable-wrapper {
    overflow: auto;
    height: calc(100vh - 262px);
    margin-bottom: 12px;
}

.p-datatable-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    thead {
        position: sticky;
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px;

        th {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            background-color: #5093de;
            color: #fff;

            &:last-child {
                border: 1px;
            }

            &:first-child {
                border: 1px;
            }

            .p-column-header-content {
                justify-content: center;
                gap: 6px;
            }

            .p-sortable-column-icon {
                width: 12px;
                color: #fff;
            }
        }
    }

    tbody {
        tr {
            transition: all 0.3s ease;
            border-bottom: 1px solid #f3f3f3;
        }

        td {
            padding: 8px 20px;
        }
    }
}

.p-datatable .p-sortable-column.p-highlight:hover {
    box-shadow: none;
}

.p-datatable .p-sortable-column:hover {
    box-shadow: none;
}

.p-paginator .p-dropdown {
    align-items: center;
    padding-left: 8px;
    height: 32px;
    box-shadow: none;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.p-carousel-indicators {
    gap: 14px;

    .p-carousel-indicator {
        button {
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
    }
}

input,
textarea {
    box-shadow: none;
}

.p-float-label label {
    transform: translateY(-50%);
}

.p-float-label:has(input.p-filled) label,
.p-float-label:has(input:focus) label {
    font-size: 14px;
}

.p-toast .p-toast-message .p-toast-message-content {
    padding: 14px;
    align-items: center;
    gap: 20px;
}

.p-toast-message + .p-toast-message {
    margin-top: 20px;
}

.p-toast .p-toast-message.p-toast-message-info {
    background: rgba(219, 234, 254, 0.7);
    border: solid #3b82f6;
    border-width: 0 0 0 6px;
    color: #3b82f6;

    svg {
        color: #3b82f6;
    }
}

.p-toast .p-toast-message.p-toast-message-warn {
    background: rgba(255, 242, 226);
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;

    svg {
        color: #cc8925;
    }
}

.p-toast .p-toast-message.p-toast-message-success {
    background: rgba(228, 248, 240);
    border: solid #1ea97c;
    border-width: 0 0 0 6px;
    color: #1ea97c;

    svg {
        color: #1ea97c;
    }
}

.p-toast .p-toast-message.p-toast-message-error {
    background: rgba(255, 231, 230);
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;

    svg {
        color: #ff5757;
    }
}

.p-datatable-emptymessage {
    td {
        text-align: center;
    }
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid var(--primary);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header_dialog {
    h2 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        padding: 10px 0;
        color: var(--primary);
    }
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_action {
    text-align: right;

    button {
        justify-content: center;
    }
}

.input {
    padding: 8px 12px;
    width: 100%;
}

.input-row-2 {
    display: flex;
    gap: 20px;

    span {
        width: 50%;
    }
}

.input-number {
    width: 100% !important;

    input {
        padding: 8px 12px;
        width: 100%;
    }
}

.loading_relative {
    position: relative;
    height: 100vh;
}

.empty-data {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
